<%= render "shared/header" %>

<div class='main'>
  <div class='staff-contents'>
    <h2 class='title'>スタッフ一覧</h2>
    <ul class='staff-lists'>

      <% @staffs.each do |staff| %>
        <li class='list'>
          <%= link_to staff_path(staff) do %>
          <div class='staff-img-content'>
            <%= image_tag staff.image, class: "staff-img" %>
          </div>
          <div class='staff-info'>
            <h3 class='staff-name'>
              <%= staff.name %>
            </h3>
            <div class='staff-history'>
              <span>(歴<%= staff.history %>以上)</span>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>

    </ul>


  </div>
</div>

<%= render "shared/footer" %>