<%= render "shared/second-header" %>


<%= month_calendar events: @reservations do |date, reservation| %>
  <%= date.day %>

  <% reservation.each do |reservation| %>
    <% if current_user.id == reservation.user_id || current_user.admin %>
      <div>
        <%= reservation.start_time.hour %>:<%= reservation.start_time.min %>/<%= reservation.staff.name %>
        <%= reservation.user.full_name %>様
      </div>
    <% end %>
  <% end %>

<% end %>

<%= render "shared/second-footer" %>