<%= render "shared/second-header" %>

<%= link_to '予約', new_staff_reservation_path(@staff) %>

<%= month_calendar events: @reservations do |date, reservation| %>
  <%= date.day %>

  <% reservation.each do |reservation| %>
    <div>
      <%= reservation.title %>
      <%= reservation.staff.name %>
      <%= reservation.user.nickname %>様
    </div>
  <% end %>

<% end %>

<%= render "shared/second-footer" %>